<!DOCTYPE html>
<html>
<head>
	<title>Kettle Ting</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
</head>

<body>
    <div class="container">
        <form>
        <div class="row">
            <h2>Personal Information</h2>
            <div class="col-md-4">
                <input type="text" placeholder="Name"><br>
                <input type="text" placeholder="Height"><br>
                <input type="text" name="weight" placeholder="Weight"><br>
                <Label>Food Likes<input type="text" name="food_likes" placeholder="Apples, onions, mushrooms"><br></Label>
                <Label>Food Dislikes: <input type="text" name="food_dislikes" placeholder="oranges, leek, spinach"><br></Label>
            </div>
        </div>
        <div class="row">
            <h2>Health</h2>
              <div class="col-xs-4">
                <label><input type="checkbox" name="health" value="vegetarian">Vegetarian</label>
                <label><input type="checkbox" name="health" value="vegan">Vegan</label>
                <label><input type="checkbox" name="health" value="sugar_conscious">Sugar Conscious</label>
                <label><input type="checkbox" name="health" value="peanut_free">Peanut Free</label>
                <label><input type="checkbox" name="health" value="treenut_free">Tree nut Free</label>
                <label><input type="checkbox" name="health" value="alcohol_free">Alcohol Free</label>
              </div>
        </div>
        <div class="row">
            <h2>Preferences</h2>
                <div class="col-xs-4">
                <label><input type="checkbox" name="diet" value="high_protein">High Protein</label>
                <label><input type="checkbox" name="diet" value="low_carb">Low Carb</label>
                <label><input type="checkbox" name="diet" value="low_fat">Low Fat</label>
                <label><input type="checkbox" name="diet" value="balanced">Balanced</label>
              </div>
        </div>
        </form>
    </div>
</body>
</html>