<html>
<head>
<title>Kettle Ting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
        <header class="header7" id="header7">
            <div class="intro center-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <form method="POST">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>Enter your Info</h3>
                                        <p>We'll use this to generate a weekly meal plan</p>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control input-lg" name="user_name" id="user_name" placeholder="Name" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control input-lg" name="user_height" id="user_height" placeholder="Height" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control input-lg" name="user_weight" id="user_weight" placeholder="" type="text">
                                        </div>
                                        <div class="col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control input-lg" name="users_likes" id="user_likes" placeholder="Food likes ex 'apples, oranges'" type="text">
                                        </div>
                                        </div>
                                        <div class="col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control input-lg" name="users_dislikes" id="user_dislikes" placeholder="Food dislikes ex 'apples, oranges'" type="text">
                                        </div>
                                        </div>
                                        <div class="col-sm-12">
                                        <div class="form-group">
                                            <h2>Health</h2>
                                                <label><input type="checkbox" name="health" value="vegetarian">Vegetarian</label>
                                                <label><input type="checkbox" name="health" value="vegan">Vegan</label>
                                                <label><input type="checkbox" name="health" value="sugar_conscious">Sugar Conscious</label><br>
                                                <label><input type="checkbox" name="health" value="peanut_free">Peanut Free</label>
                                                <label><input type="checkbox" name="health" value="treenut_free">Tree nut Free</label>
                                                <label><input type="checkbox" name="health" value="alcohol_free">Alcohol Free</label>
                                        </div>
                                        </div>
                                        <div class="col-sm-12">
                                        <div class="form-group">
                                            <h2>Diet</h2>
                                                <label><input type="checkbox" name="diet" value="high_protein">High Protein</label>
                                                <label><input type="checkbox" name="diet" value="low_carb">Low Carb</label><br>
                                                <label><input type="checkbox" name="diet" value="low_fat">Low Fat</label>
                                                <label><input type="checkbox" name="diet" value="balanced">Balanced</label>
                                        </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-block button">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- row -->
                </div><!-- intro -->
            </div><!-- container -->
        </header><!-- header -->
</body>
</html>